* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

::-moz-selection {
  background-color: #00d4ff;
  color: white;
}

::selection {
  background-color: #00d4ff;
  color: white;
}

body {
  background-color: #1a1a1a;
  font-size: 16px;
  color: white;
  overflow-x: hidden;
}

.arrow-top {
  width: 70px;
  height: 70px;
  background: #00d4ff;
  background: linear-gradient(35deg, #00d4ff 0%, #008aff 100%);
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.arrow-top:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.top-content {
  width: 100%;
  height: 35px;
  background: #00d4ff;
  background: linear-gradient(35deg, #00d4ff 0%, #008aff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 5px 10px 0px black;
          box-shadow: 0px 5px 10px 0px black;
}

.header {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disponibilidade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signal {
  height: 12px;
  width: 12px;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 2rem #5bff31, 0 0 0.8rem #5bff31, 0 0 2.8rem #5bff31, inset 0 0 1.3rem #5bff31;
          box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 2rem #5bff31, 0 0 0.8rem #5bff31, 0 0 2.8rem #5bff31, inset 0 0 1.3rem #5bff31;
}

.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  font-size: 1.3rem;
  margin-left: 20px;
  font-weight: 800;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav a:hover {
  opacity: 0.7;
  border-bottom: 1px solid white;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.button {
  padding: 10px 25px;
  margin-left: 20px;
  background: #00d4ff;
  background: linear-gradient(35deg, #00d4ff 0%, #008aff 100%);
  border-radius: 5px;
  color: white;
  font-size: 1.3rem;
  font-weight: 800;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  border: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.button:hover {
  padding: 8px 23px;
  margin-left: 24px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.section1 {
  width: 100%;
  height: 56rem;
  background-image: url(../img/stars.jpg);
  background-size: cover;
}

.filtro {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content img {
  border-radius: 50%;
  border: 5px solid #00d4ff;
  -webkit-box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.1rem rgba(255, 255, 255, 0), 0 0 1rem #00d4ff, 0 0 0.8rem #00d4ff, 0 0 2.8rem #00d4ff, inset 0 0 1.3rem #00d4ff;
          box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.1rem rgba(255, 255, 255, 0), 0 0 1rem #00d4ff, 0 0 0.8rem #00d4ff, 0 0 2.8rem #00d4ff, inset 0 0 1.3rem #00d4ff;
  width: 350px;
  height: 350px;
}

.content .title {
  font-size: 4rem;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 50px;
  padding: 0 50px;
  margin-bottom: 50px;
  text-align: center;
  border-bottom: 2px solid #00d4ff;
  border-right: 1px solid #00d4ff;
}

.content .box {
  margin-top: 50px;
  max-width: 600px;
  text-align: center;
  padding: 30px;
  border-left: 10px solid #00d4ff;
  background-color: rgba(0, 0, 0, 0.459);
  font-size: 1.2rem;
}

.section2 {
  max-width: 1200px;
  margin: 100px auto;
}

.section2 .title {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  border-bottom: 3px solid white;
  -webkit-box-shadow: 0px 15px 8px -6px #000000;
          box-shadow: 0px 15px 8px -6px #000000;
}

.section2 .title span {
  color: #00d4ff;
}

.competencias {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

.card {
  width: 350px;
  height: 300px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 7px solid #00d4ff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.1rem rgba(255, 255, 255, 0), 0 0 0.7rem #00d4ff;
          box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.1rem rgba(255, 255, 255, 0), 0 0 0.7rem #00d4ff;
}

.card:hover {
  -webkit-box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.1rem rgba(255, 255, 255, 0), 0 0 2rem #00d4ff;
          box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0), 0 0 0.1rem rgba(255, 255, 255, 0), 0 0 2rem #00d4ff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card img {
  width: 200px;
  -webkit-filter: drop-shadow(4px 4px 4px black);
          filter: drop-shadow(4px 4px 4px black);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card img:hover {
  width: 220px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.section3 {
  max-width: 1200px;
  margin: 100px auto;
}

.section3 .title {
  font-size: 4rem;
  font-weight: 800;
  color: #00d4ff;
  border-bottom: 3px solid white;
  -webkit-box-shadow: 0px 15px 8px -6px #000000;
          box-shadow: 0px 15px 8px -6px #000000;
}

.section3 .title span {
  color: white;
}

.mobile-menu {
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 8px;
}

@media (max-width: 1000px) {
  .mobile-menu {
    display: block;
    margin-right: 20px;
  }
  .disponibilidade {
    margin-left: 20px;
  }
  .nav {
    position: absolute;
    top: 115px;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: #1a1a1a;
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-shadow: -5px 9px 10px 0px black;
            box-shadow: -5px 9px 10px 0px black;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav li {
    margin-bottom: 20px;
  }
  .nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content .title {
    font-size: 3rem;
  }
  .section2 .title {
    font-size: 3rem;
  }
  .section3 .title {
    font-size: 3rem;
  }
  .card {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */